---
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignArrayOfStructures: Left
AllowShortEnumsOnASingleLine: false
QualifierAlignment: Left
SortIncludes:
  Enabled: true
  IgnoreCase: true
IndentWrappedFunctionNames: false
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 0
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterIfMacros: true
SpaceBeforeRangeBasedForLoopColon: true
AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: OuterScope
Language: Cpp
LineEnding: LF
SortUsingDeclarations: LexicographicNumeric
AlignConsecutiveAssignments:
  Enabled: true
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
SpacesInSquareBrackets: false
AlignEscapedNewlines: Left
AlignTrailingComments:
  Kind: Always
AllowShortBlocksOnASingleLine: Never
BinPackLongBracedList: false
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
DerivePointerAlignment: false
EnumTrailingComma: Insert
FixNamespaceComments: true
IncludeBlocks: Preserve
CompactNamespaces: false
BreakTemplateDeclarations: Yes
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  AfterFunction: true
  AfterControlStatement: Never
  AfterEnum: true
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false