* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.c text
*.cc text
*.cpp text
*.h text
*.hpp text
*.cmake text
CMakeLists.txt text
*.lua text
*.proto text
*.md text
*.yml text
*.yaml text
*.json text

*.lib binary
*.a binary
*.dll binary
*.so binary
*.dylib binary
*.exe binary
*.pdb binary
*.obj binary
*.png binary
*.jpg binary
*.gz binary
*.zip binary
